USE [OnlineShop]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 7/24/2022 11:20:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[blogID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[blogTitle] [nvarchar](max) NOT NULL,
	[blogContent] [nvarchar](max) NOT NULL,
	[blogImg] [varchar](max) NOT NULL,
	[authorName] [nvarchar](max) NOT NULL,
	[createDate] [date] NOT NULL,
	[statusBlogID] [bit] NOT NULL,
	[cateBlogID] [int] NOT NULL,
 CONSTRAINT [pk_Blog_postID] PRIMARY KEY CLUSTERED 
(
	[blogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 7/24/2022 11:20:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[brandID] [int] IDENTITY(1,1) NOT NULL,
	[brandName] [varchar](max) NOT NULL,
 CONSTRAINT [pk_Brand_brandID] PRIMARY KEY CLUSTERED 
(
	[brandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 7/24/2022 11:20:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[cartID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[detailID] [int] NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [pk_Cart_cartID] PRIMARY KEY CLUSTERED 
(
	[cartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 7/24/2022 11:20:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[cateID] [int] IDENTITY(1,1) NOT NULL,
	[brandID] [int] NOT NULL,
	[cateName] [nvarchar](max) NOT NULL,
 CONSTRAINT [pk_Category_cateID] PRIMARY KEY CLUSTERED 
(
	[cateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryBlog]    Script Date: 7/24/2022 11:20:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryBlog](
	[cateBlogID] [int] IDENTITY(1,1) NOT NULL,
	[cateBlogName] [nvarchar](100) NOT NULL,
 CONSTRAINT [pk_cateBlogID] PRIMARY KEY CLUSTERED 
(
	[cateBlogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Color]    Script Date: 7/24/2022 11:20:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color](
	[colorID] [int] IDENTITY(1,1) NOT NULL,
	[colorName] [nvarchar](max) NOT NULL,
 CONSTRAINT [pk_Color_colorID] PRIMARY KEY CLUSTERED 
(
	[colorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 7/24/2022 11:20:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[feedbackID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[detailID] [int] NOT NULL,
	[comment] [nvarchar](max) NOT NULL,
	[commentDate] [date] NOT NULL,
	[rateStar] [int] NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [pk_Feedback_feedbackID] PRIMARY KEY CLUSTERED 
(
	[feedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImgOfProduct]    Script Date: 7/24/2022 11:20:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImgOfProduct](
	[imgID] [int] IDENTITY(1,1) NOT NULL,
	[colorID] [int] NOT NULL,
	[productID] [int] NOT NULL,
	[imageProduct] [varchar](max) NOT NULL,
 CONSTRAINT [pk_img_ProductID] PRIMARY KEY CLUSTERED 
(
	[imgID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 7/24/2022 11:20:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[orderID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[orderDate] [date] NOT NULL,
	[amount] [int] NOT NULL,
	[stateID] [int] NOT NULL,
 CONSTRAINT [pk_Order_orderID] PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 7/24/2022 11:20:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[orderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[detailID] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [int] NOT NULL,
	[discount] [float] NULL,
	[createAt] [date] NOT NULL,
	[updateAt] [date] NOT NULL,
	[orderID] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[isFeedback] [bit] NOT NULL,
 CONSTRAINT [pk_OrderDetail_detailID] PRIMARY KEY CLUSTERED 
(
	[orderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderState]    Script Date: 7/24/2022 11:20:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderState](
	[stateID] [int] IDENTITY(1,1) NOT NULL,
	[nameState] [nvarchar](max) NOT NULL,
 CONSTRAINT [pk_OrderState_stateID] PRIMARY KEY CLUSTERED 
(
	[stateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 7/24/2022 11:20:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[productID] [int] IDENTITY(1,1) NOT NULL,
	[productName] [nvarchar](max) NOT NULL,
	[productPrice] [float] NOT NULL,
	[productImage] [varchar](max) NOT NULL,
	[productDescribe] [nvarchar](max) NOT NULL,
	[cateID] [int] NOT NULL,
	[totalQuantity] [int] NOT NULL,
	[discount] [float] NULL,
	[createAt] [date] NOT NULL,
	[isSale] [bit] NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [pk_Product_productID] PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductDetail]    Script Date: 7/24/2022 11:20:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDetail](
	[detailID] [int] IDENTITY(1,1) NOT NULL,
	[productID] [int] NOT NULL,
	[sizeID] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[colorID] [int] NOT NULL,
 CONSTRAINT [pk_ProductDetail_deitailID] PRIMARY KEY CLUSTERED 
(
	[detailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 7/24/2022 11:20:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[userRole] [int] IDENTITY(1,1) NOT NULL,
	[roleName] [nvarchar](max) NOT NULL,
 CONSTRAINT [pk_Role_userRole] PRIMARY KEY CLUSTERED 
(
	[userRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Size]    Script Date: 7/24/2022 11:20:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Size](
	[sizeID] [int] IDENTITY(1,1) NOT NULL,
	[numberSize] [int] NOT NULL,
 CONSTRAINT [pk_Size_sizeID] PRIMARY KEY CLUSTERED 
(
	[sizeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slider]    Script Date: 7/24/2022 11:20:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slider](
	[sliderID] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NOT NULL,
	[img] [varchar](max) NOT NULL,
	[createDate] [date] NOT NULL,
	[status] [bit] NOT NULL,
	[link] [varchar](max) NOT NULL,
 CONSTRAINT [pk_Slider_sliderID] PRIMARY KEY CLUSTERED 
(
	[sliderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/24/2022 11:20:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[userName] [varchar](max) NOT NULL,
	[userPass] [varchar](max) NOT NULL,
	[fullName] [nvarchar](max) NOT NULL,
	[userAvatar] [varchar](max) NOT NULL,
	[userAdress] [nvarchar](max) NOT NULL,
	[userBirth] [date] NOT NULL,
	[userGender] [bit] NOT NULL,
	[userEmail] [varchar](max) NOT NULL,
	[userPhone] [varchar](20) NOT NULL,
	[userRole] [int] NOT NULL,
	[uStatusID] [int] NOT NULL,
 CONSTRAINT [pk_User_userID] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userStatus]    Script Date: 7/24/2022 11:20:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userStatus](
	[uStatusID] [int] IDENTITY(1,1) NOT NULL,
	[statusName] [nvarchar](max) NOT NULL,
 CONSTRAINT [pk_userStatus] PRIMARY KEY CLUSTERED 
(
	[uStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Blog] ON 

SET IDENTITY_INSERT [dbo].[Blog] OFF
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([brandID], [brandName]) VALUES (1, N'Kappa')
INSERT [dbo].[Brand] ([brandID], [brandName]) VALUES (2, N'Ecko Unltd')
INSERT [dbo].[Brand] ([brandID], [brandName]) VALUES (3, N'Superga')
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([cateID], [brandID], [cateName]) VALUES (1, 1, N'Sneakers')
INSERT [dbo].[Category] ([cateID], [brandID], [cateName]) VALUES (2, 1, N'Sport')
INSERT [dbo].[Category] ([cateID], [brandID], [cateName]) VALUES (3, 1, N'Casual')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[CategoryBlog] ON 

INSERT [dbo].[CategoryBlog] ([cateBlogID], [cateBlogName]) VALUES (1, N'Clean Shoes')
INSERT [dbo].[CategoryBlog] ([cateBlogID], [cateBlogName]) VALUES (2, N'Custom Shoes')
INSERT [dbo].[CategoryBlog] ([cateBlogID], [cateBlogName]) VALUES (3, N'Recovery Shoes')
SET IDENTITY_INSERT [dbo].[CategoryBlog] OFF
GO
SET IDENTITY_INSERT [dbo].[Color] ON 

INSERT [dbo].[Color] ([colorID], [colorName]) VALUES (1, N'pink')
INSERT [dbo].[Color] ([colorID], [colorName]) VALUES (2, N'black')
INSERT [dbo].[Color] ([colorID], [colorName]) VALUES (3, N'yellow')
SET IDENTITY_INSERT [dbo].[Color] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([feedbackID], [userID], [detailID], [comment], [commentDate], [rateStar], [status]) VALUES (1, 7, 55, N'Status này được 1000 like, em nguyện cởi trần chạy vào nhà vệ sinh nữ”. Có một sự thật ít ai biết, thằng bạn em chỉ có chưa đến 800 bạn', CAST(N'2022-05-11' AS Date), 3, 1)
INSERT [dbo].[Feedback] ([feedbackID], [userID], [detailID], [comment], [commentDate], [rateStar], [status]) VALUES (2, 7, 55, N'Status này được 1000 like, em nguyện cởi trần chạy vào nhà vệ sinh nữ”. Có một sự thật ít ai biết, thằng bạn em chỉ có chưa đến 800 bạn', CAST(N'2022-05-11' AS Date), 3, 1)
INSERT [dbo].[Feedback] ([feedbackID], [userID], [detailID], [comment], [commentDate], [rateStar], [status]) VALUES (3, 7, 100, N'3 most difficult things to do in the world: You can’t count your hair. You can’t wash your eyes with soap. You can’t breathe when your tongue is out. Now please put your tongue back inside.', CAST(N'2022-05-16' AS Date), 4, 1)
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[ImgOfProduct] ON 

INSERT [dbo].[ImgOfProduct] ([imgID], [colorID], [productID], [imageProduct]) VALUES (1, 5, 1, N'1.1.jpg')
INSERT [dbo].[ImgOfProduct] ([imgID], [colorID], [productID], [imageProduct]) VALUES (2, 5, 1, N'1.2.jpg')
INSERT [dbo].[ImgOfProduct] ([imgID], [colorID], [productID], [imageProduct]) VALUES (3, 5, 1, N'1.3.jpg')
GO
SET IDENTITY_INSERT [dbo].[ImgOfProduct] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([orderID], [userID], [orderDate], [amount], [stateID]) VALUES (1, 8, CAST(N'2022-01-19' AS Date), 776, 2)
INSERT [dbo].[Order] ([orderID], [userID], [orderDate], [amount], [stateID]) VALUES (2, 8, CAST(N'2022-02-04' AS Date), 920, 2)
INSERT [dbo].[Order] ([orderID], [userID], [orderDate], [amount], [stateID]) VALUES (3, 8, CAST(N'2022-02-06' AS Date), 379, 2)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([orderDetailID], [detailID], [quantity], [price], [discount], [createAt], [updateAt], [orderID], [Amount], [isFeedback]) VALUES (1, 1, 1, 699, 0.37, CAST(N'2022-01-19' AS Date), CAST(N'2022-01-19' AS Date), 1, 440, 0)
INSERT [dbo].[OrderDetail] ([orderDetailID], [detailID], [quantity], [price], [discount], [createAt], [updateAt], [orderID], [Amount], [isFeedback]) VALUES (2, 2, 2, 699, 0.37, CAST(N'2022-01-19' AS Date), CAST(N'2022-01-19' AS Date), 1, 880, 0)
INSERT [dbo].[OrderDetail] ([orderDetailID], [detailID], [quantity], [price], [discount], [createAt], [updateAt], [orderID], [Amount], [isFeedback]) VALUES (3, 7, 1, 799, 0.36, CAST(N'2022-02-04' AS Date), CAST(N'2022-02-04' AS Date), 2, 511, 0)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderState] ON 

INSERT [dbo].[OrderState] ([stateID], [nameState]) VALUES (1, N'Complete')
INSERT [dbo].[OrderState] ([stateID], [nameState]) VALUES (2, N'Processing')
INSERT [dbo].[OrderState] ([stateID], [nameState]) VALUES (3, N'Canceled')
SET IDENTITY_INSERT [dbo].[OrderState] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([productID], [productName], [productPrice], [productImage], [productDescribe], [cateID], [totalQuantity], [discount], [createAt], [isSale], [isActive]) VALUES (1, N'Kappa giày sneakers nam/nữ 36151QW SS22', 699, N'product_1.jpg', N'Giày thể thao nam/nữ Kappa. Giày nam/nữ thuộc bộ sưu tập xuân hè 2022. Thân giày: vải tổng hợp và PU; đế giày: cao su. Giày nhẹ và dễ dàng vệ sinh.', 1, 136, 0.37, CAST(N'2021-03-22' AS Date), 0, 0)
INSERT [dbo].[Product] ([productID], [productName], [productPrice], [productImage], [productDescribe], [cateID], [totalQuantity], [discount], [createAt], [isSale], [isActive]) VALUES (2, N'Kappa giày thể thao nam 311992W SS22', 799, N'product_2.jpg', N'Giày thể thao nam Kappa. Giày nam thuộc bộ sưu tập xuân hè 2022. Thân giày: vải dệt và TPU; đế giày: cao su.', 2, 81, 0.36, CAST(N'2020-06-28' AS Date), 1, 0)
INSERT [dbo].[Product] ([productID], [productName], [productPrice], [productImage], [productDescribe], [cateID], [totalQuantity], [discount], [createAt], [isSale], [isActive]) VALUES (3, N'Kappa giày thể thao nam/nữ 311992W SS22', 799, N'product_3.jpg', N'Giày thể thao nam/ nữ Kappa. Giày nam/nữ thuộc bộ sưu tập xuân hè 2022. Thân giày: vải dệt và TPU; đế giày: cao su.', 2, 165, 0.06, CAST(N'2020-06-03' AS Date), 1, 0)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductDetail] ON 

INSERT [dbo].[ProductDetail] ([detailID], [productID], [sizeID], [quantity], [colorID]) VALUES (1, 1, 1, 10, 5)
INSERT [dbo].[ProductDetail] ([detailID], [productID], [sizeID], [quantity], [colorID]) VALUES (2, 1, 2, 112, 5)
INSERT [dbo].[ProductDetail] ([detailID], [productID], [sizeID], [quantity], [colorID]) VALUES (3, 1, 3, 24, 5)
GO
SET IDENTITY_INSERT [dbo].[ProductDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([userRole], [roleName]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([userRole], [roleName]) VALUES (2, N'Sale Manager')
INSERT [dbo].[Role] ([userRole], [roleName]) VALUES (3, N'Sale')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Size] ON 

INSERT [dbo].[Size] ([sizeID], [numberSize]) VALUES (1, 38)
INSERT [dbo].[Size] ([sizeID], [numberSize]) VALUES (2, 39)
INSERT [dbo].[Size] ([sizeID], [numberSize]) VALUES (3, 40)
SET IDENTITY_INSERT [dbo].[Size] OFF
GO
SET IDENTITY_INSERT [dbo].[Slider] ON 

INSERT [dbo].[Slider] ([sliderID], [title], [img], [createDate], [status], [link]) VALUES (1, N'Director of Sales', N'blog1.jpg', CAST(N'2021-06-21' AS Date), 1, N'blogDetail?id=1')
INSERT [dbo].[Slider] ([sliderID], [title], [img], [createDate], [status], [link]) VALUES (2, N'Legal Assistant', N'blog2.jpg', CAST(N'2020-10-26' AS Date), 0, N'blogDetail?id=2')
INSERT [dbo].[Slider] ([sliderID], [title], [img], [createDate], [status], [link]) VALUES (3, N'Senior Sales Associate', N'blog3.jpg', CAST(N'2021-01-27' AS Date), 1, N'blogDetail?id=3')
SET IDENTITY_INSERT [dbo].[Slider] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([userID], [userName], [userPass], [fullName], [userAvatar], [userAdress], [userBirth], [userGender], [userEmail], [userPhone], [userRole], [uStatusID]) VALUES (1, N'long123', N'123', N'Phạm Thành Long', N'long.jpg', N'Thanh Oai - Hà Nội', CAST(N'2001-01-19' AS Date), 1, N'longpthe150040@fpt.edu.vn', N'0394292729', 1, 1)
INSERT [dbo].[User] ([userID], [userName], [userPass], [fullName], [userAvatar], [userAdress], [userBirth], [userGender], [userEmail], [userPhone], [userRole], [uStatusID]) VALUES (2, N'dong123', N'123', N'Hồ Phương Đồng', N'dong.jpg', N'Thuận Thành - Bắc Ninh', CAST(N'2001-05-25' AS Date), 1, N'donghphe150112@fpt.edu.vn', N'0949948556', 2, 1)
INSERT [dbo].[User] ([userID], [userName], [userPass], [fullName], [userAvatar], [userAdress], [userBirth], [userGender], [userEmail], [userPhone], [userRole], [uStatusID]) VALUES (3, N'dung123', N'123', N'Chu Tuấn Dũng', N'dung.jpg', N'Văn Giang - Hưng Yên', CAST(N'2001-01-21' AS Date), 1, N'dungcthe150178@fpt.edu.vn', N'0928602001', 3, 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[userStatus] ON 

INSERT [dbo].[userStatus] ([uStatusID], [statusName]) VALUES (1, N'Active')
INSERT [dbo].[userStatus] ([uStatusID], [statusName]) VALUES (2, N'Not Active')
SET IDENTITY_INSERT [dbo].[userStatus] OFF
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [fk_Blog_userID] FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [fk_Blog_userID]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [fk_cateBlogID] FOREIGN KEY([cateBlogID])
REFERENCES [dbo].[CategoryBlog] ([cateBlogID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [fk_cateBlogID]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [fk_Cart_detailID] FOREIGN KEY([detailID])
REFERENCES [dbo].[ProductDetail] ([detailID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [fk_Cart_detailID]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [fk_Cart_userID] FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [fk_Cart_userID]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [fk_Category_brandID] FOREIGN KEY([brandID])
REFERENCES [dbo].[Brand] ([brandID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [fk_Category_brandID]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [fk_Feedback_detailID] FOREIGN KEY([detailID])
REFERENCES [dbo].[ProductDetail] ([detailID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [fk_Feedback_detailID]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [fk_Feedback_userlID] FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [fk_Feedback_userlID]
GO
ALTER TABLE [dbo].[ImgOfProduct]  WITH CHECK ADD  CONSTRAINT [fk_img_colorID] FOREIGN KEY([colorID])
REFERENCES [dbo].[Color] ([colorID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ImgOfProduct] CHECK CONSTRAINT [fk_img_colorID]
GO
ALTER TABLE [dbo].[ImgOfProduct]  WITH CHECK ADD  CONSTRAINT [fk_img_productID] FOREIGN KEY([productID])
REFERENCES [dbo].[Product] ([productID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ImgOfProduct] CHECK CONSTRAINT [fk_img_productID]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [fk_Order_stateID] FOREIGN KEY([stateID])
REFERENCES [dbo].[OrderState] ([stateID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [fk_Order_stateID]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [fk_Order_userID] FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [fk_Order_userID]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [pk_DetailID] FOREIGN KEY([detailID])
REFERENCES [dbo].[ProductDetail] ([detailID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [pk_DetailID]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [pk_orderFrID] FOREIGN KEY([orderID])
REFERENCES [dbo].[Order] ([orderID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [pk_orderFrID]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [fk_Product_cateID] FOREIGN KEY([cateID])
REFERENCES [dbo].[Category] ([cateID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [fk_Product_cateID]
GO
ALTER TABLE [dbo].[ProductDetail]  WITH CHECK ADD  CONSTRAINT [fk_ProductDetail_colorID] FOREIGN KEY([colorID])
REFERENCES [dbo].[Color] ([colorID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductDetail] CHECK CONSTRAINT [fk_ProductDetail_colorID]
GO
ALTER TABLE [dbo].[ProductDetail]  WITH CHECK ADD  CONSTRAINT [fk_ProductDetail_productID] FOREIGN KEY([productID])
REFERENCES [dbo].[Product] ([productID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductDetail] CHECK CONSTRAINT [fk_ProductDetail_productID]
GO
ALTER TABLE [dbo].[ProductDetail]  WITH CHECK ADD  CONSTRAINT [fk_ProductDetail_sizeID] FOREIGN KEY([sizeID])
REFERENCES [dbo].[Size] ([sizeID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductDetail] CHECK CONSTRAINT [fk_ProductDetail_sizeID]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [fk_User_userRole] FOREIGN KEY([userRole])
REFERENCES [dbo].[Role] ([userRole])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [fk_User_userRole]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [fk_User_userStatus] FOREIGN KEY([uStatusID])
REFERENCES [dbo].[userStatus] ([uStatusID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [fk_User_userStatus]
GO
