<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>Authorization.AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ShopSideBarServlet</servlet-name>
        <servlet-class>controller.ShopSideBarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lstpostServlet</servlet-name>
        <servlet-class>postcontroller.lstpostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchpostServlet</servlet-name>
        <servlet-class>postcontroller.searchpostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterpostServlet</servlet-name>
        <servlet-class>postcontroller.filterpostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBlogServlet</servlet-name>
        <servlet-class>postcontroller.AddBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBlogServlet</servlet-name>
        <servlet-class>postcontroller.UpdateBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mktDashboard_ChartServlet</servlet-name>
        <servlet-class>controller.mktDashboard_ChartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <servlet-class>controller.DeleteOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackDetailServlet</servlet-name>
        <servlet-class>controller.FeedbackDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleDashboardServlet</servlet-name>
        <servlet-class>controller.SaleDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCartServlet</servlet-name>
        <servlet-class>controller.AddCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>controller.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertProductServlet</servlet-name>
        <servlet-class>controller.InsertProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProductServlet</servlet-name>
        <servlet-class>controller.ListProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartServlet</servlet-name>
        <servlet-class>controller.RemoveCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCartServlet</servlet-name>
        <servlet-class>controller.ShowCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubCartServlet</servlet-name>
        <servlet-class>controller.SubCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>controller.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleMNG_ViewOrder</servlet-name>
        <servlet-class>salemanager.controll.SaleMNG_ViewOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sale_OrderActionServlet</servlet-name>
        <servlet-class>salemanager.controll.Sale_OrderActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackListServlet</servlet-name>
        <servlet-class>controller.FeedbackListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusFeedbackServlet</servlet-name>
        <servlet-class>controller.ChangeStatusFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDetail</servlet-name>
        <servlet-class>controller.CustomerDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerListServlet</servlet-name>
        <servlet-class>controller.CustomerListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterCustomerServlet</servlet-name>
        <servlet-class>controller.FilterCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCustomerServlet</servlet-name>
        <servlet-class>controller.SearchCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCustomerServlet</servlet-name>
        <servlet-class>controller.ViewCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutCart</servlet-name>
        <servlet-class>controller.CheckOutCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>controller.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiveItemServlet</servlet-name>
        <servlet-class>controller.ReceiveItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lstSliderServlet</servlet-name>
        <servlet-class>controller.lstSliderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSliderServlet</servlet-name>
        <servlet-class>controller.UpdateSliderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteCartServlet</servlet-name>
        <servlet-class>controller.CompleteCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSliderServlet</servlet-name>
        <servlet-class>controller.AddSliderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterSliderServlet</servlet-name>
        <servlet-class>controller.FilterSliderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSliderServlet</servlet-name>
        <servlet-class>controller.SearchSliderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShopSideBarServlet</servlet-name>
        <url-pattern>/shop-sidebar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BlogListServlet</servlet-name>
        <servlet-class>controller.BlogListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailServlet</servlet-name>
        <servlet-class>controller.BlogDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogListCategoryServlet</servlet-name>
        <servlet-class>controller.BlogListCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogSearchServlet</servlet-name>
        <servlet-class>controller.BlogSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyOrderServlet</servlet-name>
        <servlet-class>controller.MyOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailServlet</servlet-name>
        <servlet-class>controller.OrderDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlogListServlet</servlet-name>
        <url-pattern>/blogList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailServlet</servlet-name>
        <url-pattern>/blogDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogListCategoryServlet</servlet-name>
        <url-pattern>/blogCate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogSearchServlet</servlet-name>
        <url-pattern>/blogSearch</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterVerifyServlet</servlet-name>
        <servlet-class>controller.RegisterVerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verifyCodeServlet</servlet-name>
        <servlet-class>controller.verifyCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMailServlet</servlet-name>
        <servlet-class>controller.SendMailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmailServlet</servlet-name>
        <servlet-class>controller.SendEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserVerifyServlet</servlet-name>
        <servlet-class>controller.UserVerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <servlet-class>controller.VerifyCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUserProfileServlet</servlet-name>
        <servlet-class>controller.ViewUserProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfile_UpdateServlet</servlet-name>
        <servlet-class>controller.UserProfile_UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfile_ViewServlet</servlet-name>
        <servlet-class>controller.UserProfile_ViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeServlet</servlet-name>
        <servlet-class>controller.ChangeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetServlet</servlet-name>
        <servlet-class>controller.ResetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MKTDashBoardServlet</servlet-name>
        <servlet-class>controller.MKTDashBoardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterVerifyServlet</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifyCodeServlet</servlet-name>
        <url-pattern>/verifyCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMailServlet</servlet-name>
        <url-pattern>/sendmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmailServlet</servlet-name>
        <url-pattern>/SendEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserVerifyServlet</servlet-name>
        <url-pattern>/UserVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <url-pattern>/VerifyCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUserProfileServlet</servlet-name>
        <url-pattern>/userprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfile_UpdateServlet</servlet-name>
        <url-pattern>/updateuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfile_ViewServlet</servlet-name>
        <url-pattern>/viewuser</url-pattern>
    </servlet-mapping>
    <!--phan cua Hai-->
    <servlet>
        <servlet-name>ListUser</servlet-name>
        <servlet-class>admin.controll.user.ListUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListUser</servlet-name>
        <url-pattern>/listuser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditUser</servlet-name>
        <servlet-class>admin.controll.user.EditUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditUser</servlet-name>
        <url-pattern>/edituser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminEditUser</servlet-name>
        <servlet-class>admin.controll.user.AdminEditUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminEditUser</servlet-name>
        <url-pattern>/adminedituser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>admin.controll.user.AddUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/adduser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AcceptEditUser</servlet-name>
        <servlet-class>admin.controll.user.AcceptEditUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AcceptEditUser</servlet-name>
        <url-pattern>/acceptedituser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminDashboard</servlet-name>
        <servlet-class>admin.view.dashboard.AdminDashboard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminDashboard</servlet-name>
        <url-pattern>/AdminDashboard</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SaleMNG_ListOrder</servlet-name>
        <servlet-class>salemanager.controll.SaleMNG_ListOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaleMNG_ListOrder</servlet-name>
        <url-pattern>/salemng_listorder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DetailProductServlet</servlet-name>
        <servlet-class>controller.DetailProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DetailProductServlet</servlet-name>
        <url-pattern>/detailproduct</url-pattern>
    </servlet-mapping>
    <!--het phan Hai-->
    <!--dung-->
    <!--het dung-->
    <servlet-mapping>
        <servlet-name>ChangeServlet</servlet-name>
        <url-pattern>/change</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetServlet</servlet-name>
        <url-pattern>/reset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MKTDashBoardServlet</servlet-name>
        <url-pattern>/mktDashboard</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>MyOrderServlet</servlet-name>
        <url-pattern>/myorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailServlet</servlet-name>
        <url-pattern>/orderdetail</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>lstpostServlet</servlet-name>
        <url-pattern>/lstpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchpostServlet</servlet-name>
        <url-pattern>/searchpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterpostServlet</servlet-name>
        <url-pattern>/filterpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBlogServlet</servlet-name>
        <url-pattern>/addBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBlogServlet</servlet-name>
        <url-pattern>/updateBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mktDashboard_ChartServlet</servlet-name>
        <url-pattern>/mktDashboard_Chart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackDetailServlet</servlet-name>
        <url-pattern>/feedbackDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleDashboardServlet</servlet-name>
        <url-pattern>/saledashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCartServlet</servlet-name>
        <url-pattern>/addcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/deleteproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertProductServlet</servlet-name>
        <url-pattern>/insertproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProductServlet</servlet-name>
        <url-pattern>/listproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartServlet</servlet-name>
        <url-pattern>/removecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCartServlet</servlet-name>
        <url-pattern>/showcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubCartServlet</servlet-name>
        <url-pattern>/subcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/updateproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleMNG_ViewOrder</servlet-name>
        <url-pattern>/salemng_vieworder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sale_OrderActionServlet</servlet-name>
        <url-pattern>/saleactionOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackListServlet</servlet-name>
        <url-pattern>/feedbackList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusFeedbackServlet</servlet-name>
        <url-pattern>/changestatus_feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDetail</servlet-name>
        <url-pattern>/cusD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerListServlet</servlet-name>
        <url-pattern>/cus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterCustomerServlet</servlet-name>
        <url-pattern>/filterC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCustomerServlet</servlet-name>
        <url-pattern>/searchC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustomerServlet</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutCart</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiveItemServlet</servlet-name>
        <url-pattern>/receiveItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lstSliderServlet</servlet-name>
        <url-pattern>/lstslider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSliderServlet</servlet-name>
        <url-pattern>/updateslider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteCartServlet</servlet-name>
        <url-pattern>/complete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSliderServlet</servlet-name>
        <url-pattern>/addslider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterSliderServlet</servlet-name>
        <url-pattern>/filterslider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSliderServlet</servlet-name>
        <url-pattern>/searchslider</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
