
/*home page*/
.product-short-details .product-title{
    font-size: 12px;
    font-weight: bold;
}
.products .container .modal-content .row{
    display: flex;
}
.products .container .modal-content .row .img_short{
    margin-top: 30px;
    margin-left: 10px;
}
.products .container .modal-content .row .img_short .modal-image img{
    height: 150px;
    width: 150px;
}
.products .container .row .product-thumb .modal-content{
    margin-bottom: 10px;
}
.products .container .row .product-thumb .modal-content .modal-body{
    width: 100%;
    height: 290px;
}
.products .container .row .product-thumb .modal-content .modal-body .row{
    width: 100%;
}
.products .container .row .product-thumb .modal-content .modal-body .row .img_short{
    width:100%;
}
/*.products .container .row .product-thumb .modal-content .modal-body .row .product_short{
    margin-left: 30px;
}*/
body{
    margin: 0;
    padding: 0;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

input[type="checkbox"]
{
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}

.check{
    position: relative;
    display: block; 
    width: 40px;
    height: 20px;
    background: #05151d71;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.5s;
}
input[type="checkbox"]:checked ~ .check
{
    background: #fff;
    box-shadow: 0 0 0 12000px #05151d71;
}
.check:before
{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    background: #fff;
    width: 16px;
    height: 16px;
    transition: 0.5s;
    border-radius: 50%;
}
input[type="checkbox"]:checked ~ .check:before
{
    transform: translateX(50px);
}
.check:after
{
    content: '';
    position: absolute;
    top: 2px;
    right: 2px;
    background: #092c3e;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateX(-50px);
}
.check:after a{
    color: white;
}
input[type="checkbox"]:checked ~ .check:after
{
    transform: translateX(0px);
    color: white;
}
.trancolor {
    margin-bottom:-25px;
}
.trancolor span{
    margin-bottom: -5px;
}

/*shop-siderbar*/
.shop-sidebar .modal-content{
    width: 283px;
    margin-bottom: 10px;
    height: 350px;
}
.shop-sidebar .modal-image img{
    width: 180px;
    height: 140px;
    margin-top: 5px;
    margin-left: 15px;
}
.shop-sidebar .product-short-details{
    max-width: 180px;
    margin-left: 12px;
}
.shop-sidebar .row{
    margin-left: 25px;
}
.shop-sidebar .add_to_cart{
    padding: 5px 10px;
    /*margin-top: 5px;*/
}
.shop-sidebar .view_to{
    font-size: 10px;
    margin-top: -30px;
}
.shop-sidebar .img-responsive{
    margin-top: 20px;
}

.filter .filter_check .filter_title a{
    font-size: 18px;
}
.filter .filter_check .filter_option div{
    margin-top: 10px;
}
.filter .filter_submit{
    padding: 2px 60px;
}
.filter_check .filte_price input{
    height: 30px;
    width: 73px;
    border: 1px solid gray;
}
.filter_search .filter_title{
    font-size: 18px;
}
.filter_search .filter_search_form input{
    border: 1px solid grey;
    height: 30px;
    width: 170px;
}

/*next*/
.next{
    display: flex;
    color: gold;
    justify-content: center;
}
.next a{
    background-color: #C8CACA;
    margin: 20px 5px;
    padding: 8px 15px;
    text-decoration: none;
    color: black;
}
.next a:hover{
    background-color: #868686;
    color: #F5F5F5;
}
.next a.active{
    background-color: #868686;
    color: #F5F5F5;
}